.pageform{
}
.pageform .formline{
	margin-bottom SSF(20rem)
}
.pageform .formline .iptbg{
	height SSF(90rem)
	background-color #fff
	border-radius SSF(4rem)
}
.pageform .formline .iptbg input{
	padding SSF(20rem) SSF(27rem)
	line-height SSF(50rem)
	height SSF(90rem)
	width 100%
	fscolor(SSF(30rem), #000)
}
.pageform .formbtn{
	margin-bottom SSF(20rem)
}
.pageform.maskform .formline, .pageform.maskform .formbtn{
	margin-bottom SSF(30rem)
}
.pageform.maskform .formline .iptbg{
	border SSF(2rem) solid #bfbfbf
	height SSF(100rem)
	border-radius 0
}
.pageform.maskform .formline .iptbg input{
	fscolor(SSF(32rem), #aaa)
	padding SSF(25rem) SSF(30rem)
	height SSF(100rem)
}
.pageform.maskform .formbtn{
	fullheight(SSF(88rem))
	font-size SSF(36rem)
}