.btn{
    fullheight(SSF(80rem))
    padding 0
	border-radius: SSF(4rem);
    font-size: SSF(30rem);
    display inline-block
}
.btn.btn-block{
	width 100%
	text-align center
}
.btn.btn-small{
    fullheight(SSF(74rem))
    font-size SSF(28rem)
}
.btn.font-small{
    font-size SSF(28rem)
}
.btn.btn-white{
	background-color #fff
	color #aaa
}
.btn.btn-red{
	background-color #ff866a
	color #fff
}
.btn.btn-green{
	background-color #4ed9d7
	color #fff
}
.btn.btn-opacity{
	background-color rgba(0,0,0,.15)
	color #fff
}
.btn.btn-blue{
	background-color #39a2fc
	color #fff
}