.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.icon.icon-close{
	background-image url("../images/icon/icon-close.png")
}
.icon.icon-horn{
	background-image url("../images/icon/icon-horn.png")
}
.icon.icon-kf{
	background-image url("../images/icon/icon-kf.png")
}
.icon.icon-point{
	background-image url("../images/icon/icon-point.png")
}
.icon.icon-point-2{
	background-image url("../images/icon/icon-point-2.png")
}
.icon.icon-user{
	background-image url("../images/icon/icon-user.png")
}
.icon.icon-withdraw{
	background-image url("../images/icon/icon-withdraw.png")
}
.icon.icon-warning{
	background-image url("../images/icon/icon-warning.png")
}
.icon.icon-check{
	background-image url("../images/icon/icon-check.png")
}

/****************
 * coin-mission *
 ****************/
.icon.icon-miss-1{
	background-image url("../images/icon/icon-miss-1.png")
}
.icon.icon-miss-1-dis{
	background-image url("../images/icon/icon-miss-1-dis.png")
}
.icon.icon-miss-2{
	background-image url("../images/icon/icon-miss-2.png")
}
.icon.icon-miss-2-dis{
	background-image url("../images/icon/icon-miss-2-dis.png")
}
.icon.icon-miss-3{
	background-image url("../images/icon/icon-miss-3.png")
}
.icon.icon-miss-3-dis{
	background-image url("../images/icon/icon-miss-3-dis.png")
}

/***************
 *  coin-icon  *
 ***************/
.icon.icon-coin-1{
	background-image url("../images/icon/icon-coin-1.png")
}
.icon.icon-coin-2{
	background-image url("../images/icon/icon-coin-2.png")
}
.icon.icon-coin-3{
	background-image url("../images/icon/icon-coin-3.png")
}
.icon.icon-coin-4{
	background-image url("../images/icon/icon-coin-4.png")
}
.icon.icon-coin-5{
	background-image url("../images/icon/icon-coin-5.png")
}
.icon.icon-coin-6{
	background-image url("../images/icon/icon-coin-6.png")
}

/*****************
 *  coin-icon-p  *
 *****************/
.icon.icon-coin-p-1{
	background-image url("../images/icon/icon-coin-p-1.png")
}
.icon.icon-coin-p-2{
	background-image url("../images/icon/icon-coin-p-2.png")
}
.icon.icon-coin-p-3{
	background-image url("../images/icon/icon-coin-p-3.png")
}
.icon.icon-coin-p-4{
	background-image url("../images/icon/icon-coin-p-4.png")
}
.icon.icon-coin-p-5{
	background-image url("../images/icon/icon-coin-p-5.png")
}
.icon.icon-coin-p-6{
	background-image url("../images/icon/icon-coin-p-6.png")
}